.DS_Store
Thumbs.db
node_modules

dev/backend/mysql
dev/backend/php

# Wordpress - ignore core, configuration, examples, uploads and logs.
# https:/github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
dist/html/ivorytowerlab/wp-admin/
dist/html/ivorytowerlab/wp-content/index.php
dist/html/ivorytowerlab/wp-content/languages
dist/html/ivorytowerlab/wp-content/plugins/index.php
dist/html/ivorytowerlab/wp-content/themes/index.php
dist/html/ivorytowerlab/wp-includes/
dist/html/ivorytowerlab/index.php
dist/html/ivorytowerlab/license.txt
dist/html/ivorytowerlab/readme.html
dist/html/ivorytowerlab/wp-*.php
dist/html/ivorytowerlab/xmlrpc.php

# Configuration
dist/html/ivorytowerlab/wp-config.php

# Example themes
dist/html/ivorytowerlab/wp-content/themes/twenty*/

# Example plugin
dist/html/ivorytowerlab/wp-content/plugins/hello.php

# Uploads
dist/html/ivorytowerlab/wp-content/uploads/

# Log files
*.log

# htaccess
dist/html/ivorytowerlab/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
# dist/html/ivorytowerlab/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
# dist/html/ivorytowerlab/wp-content/themes