doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="robots" content="noindex, nofollow")
    link(rel="stylesheet" href="/assets/css/styles.css")
    link(rel="stylesheet" href="styles.css")
    title 案件名 FE ページリスト
  body
    header.pg-header
      p.pg-header-label FRONTEND
      h1.pg-header-heading PageList
      p.pg-header-link
        a(href="../components/") →Components List
        span / 
        a(href="../components/components.html",target="_blank") →Components Sample
    main.pagelist-main
      <input type="text" id="pagelist-search" class="pagelist-search-textbox" placeholder="検索キーワード">

      section.pagelist-block
        h2.pagelist-block-heading ページリスト 中間ファイルとWPがあるとき
        .pagelist-head
          .no ページNo
          .name 画面名
          .link リンク
          .wp-link WPリンク
          .option 備考
        ul.pagelist-list
          li
            span.no 1
            span.name トップページ
            a(href="/_dev/template/index.html",target="_blank").link
            a(href="/",target="_blank").wp-link
            span.option 
          li
            span.no 2
            span.name 会社概要
            a(href="/_dev/template/company/index.html",target="_blank").link
            a(href="/company/",target="_blank").wp-link
            span.option 

      section.pagelist-block
        h2.pagelist-block-heading ページリスト
        .pagelist-head.-static
          .no ページNo
          .name 画面名
          .link リンク
          .option 備考
        ul.pagelist-list.-static
          li
            span.no 1
            span.name トップページ
            a(href="/",target="_blank").link
            span.option 
          li
            span.no 2
            span.name 会社概要
            a(href="/company/",target="_blank").link
            span.option 



script(src="https://code.jquery.com/jquery-3.6.0.slim.min.js")
script
  | $('.pagelist-list .link').each(function() {
  |  $(this).text($(this).attr('href'));
  | });
  | $('.pagelist-list .wp-link').each(function() {
  |  $(this).text($(this).attr('href'));
  | });
  | function searchProject() {
  |  searchWord = function(){
  |    const searchText = $(this).val();
  |    let targetText;
  |
  |    $('.pagelist-list li').each(function() {
  |      targetText = $(this).text();
  |      if (targetText.indexOf(searchText) != -1) {
  |        $(this).removeClass('hidden');
  |      } else {
  |        $(this).addClass('hidden');
  |      }
  |    });
  |  };
  |
  | $('#pagelist-search').on('input', searchWord);
  | }
  | searchProject();
