<!DOCTYPE html>
<html lang="ja">
<head>
<%-
  include('../../src/template/_include/_head', {
    title: 'コンポーネントサンプル',
    description: ''
  });
%>
</head>
<body>
<div class="l-wrapper">
<%- include('../../src/template/_include/_header', {page: ''}) %>

<main>
<section class="l-main">



</section>
</main>

<%- include('../../src/template/_include/_footer') %>

</div>
</body>
</html>
