<!DOCTYPE html>
<html lang="ja">
<head>
<%-
  include('./_include/_head', {
    title: 'Ivory Tower Laboratoryのポートフォリオサイト',
    description: ''
  });
%>
</head>
<body>
<div class="l-wrapper">
<%- include('./_include/_header', {page: ''}) %>

<main>
<section class="l-main">

  <div id="mv" class="p-mv">
    <div class="p-mv__inner">
        <img class="p-mv__img" src="/assets/img/common/Ivory_Tower_Top_Logo.png" alt="IvoryTowerLaboratory">
        <img class="p-mv__title" src="/assets/img/common/Ivory_Tower_Labrtory.png" alt="IvoryTowerLaboratory">
    </div>
</div>

</section>
</main>

<%- include('./_include/_footer') %>

</div>
</body>
</html>
