<!DOCTYPE html>
<html lang="ja">
<head>
<%-
  include('./_include/_head', {
    title: '',
    description: ''
  });
%>
</head>
<body>
<div class="l-wrapper">
<%- include('./_include/_header', {page: ''}) %>

<main>
<section class="l-main">



</section>
</main>

<%- include('./_include/_footer') %>

</div>
</body>
</html>
