<!DOCTYPE html>
<html lang="ja">
<head>
<%-
  include('./_include/_head', {
    title: 'Ivory Tower Laboratoryのポートフォリオサイト',
    description: ''
  });
%>
</head>
<body>
<div class="l-wrapper">
<%- include('./_include/_header', {page: ''}) %>

<main>
<section class="l-main">

<h2>777</h2>

</section>
</main>

<%- include('./_include/_footer') %>

</div>
</body>
</html>
