@charset "utf-8";
@use '../../global' as g;
@use "sass:math";

// --- 見出し1 --- //
.c-heading-title1 {
  display: flex;
  align-items: center;
  font-size: 4.0rem;
  line-height: 1.4;

  & + * {
    margin-top: 48px;

    @media screen and (max-width: g.$device-m) {
      margin-top: 32px;
    }
  }
}