@charset "utf-8";
@use "../../global" as g;
@use "sass:math";

.c-submit {
    display: flex;
    justify-content: center;
    text-align: center;
    &__button {
        position: relative;
        width: 286px;
        height: 62px;
        background-color: #005aa4;
        color: #fff;
        cursor: pointer;
        transition: 0.8s all;
        border: none;
        margin-bottom: 60px;
        margin-left: 12px;
        margin-right: 12px;
    }

    &__button:hover {
        border: 1px solid #005aa4;
        background-color: #fff;
        color: #005aa4;
    }
}

