@charset "utf-8";
@use '../../global' as g;
@use "sass:math";

// --- テキストを隠す --- //
.u-text-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}